body{
  background: #202030;
}

ul
{
    list-style-type: "- ";
}
label { 
  display: inline-block; 
  width: 120px; 
  text-align: end; 
}

.App {
  text-align: center;
  font-size: calc(1px + 2vmin);
  color: white;
}
.item-container{
  border: 2px white solid;
}

